<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mageside_all" translate="label" sortOrder="50">
            <label>RedInGo</label>
        </tab>
        <section id="redingo_categorymodification" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Category Modification</label>
            <tab>mageside_all</tab>
            <resource>RedInGo_CategoryModification::config_mageside_categorymodification</resource>
            <group id="general" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Widoczne</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="category_modification_height" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Wysokość ukrytego opisu (px)</label>
                </field>
                <field id="category_modification_show_text" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Rozwiń opis przycisku</label>
                </field>
                <field id="category_modification_hide_text" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Zwiń opis przycisku</label>
                </field>
                <field id="category_modification_class" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Klasa bloku opisu</label>
                    <comment>Change it only when default Magento class is changed</comment>
                </field>
            </group>
        </section>
    </system>
</config>
